div {
    background-color: thistle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 4s linear .200ms;  /* 4s para la duración, linear como función de tiempo, y 4s de retraso */
}

div:hover {
    transform: translateX(200px);
    /* No necesitas redefinir la transición aquí, a menos que quieras que sea diferente al regresar a su estado original */
    transition: transform 2s linear ;
}
